@tailwind base;
@tailwind components;
@tailwind utilities;

#tableau {
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border: 2px solid rgb(255, 255, 255);
}

thead {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(41, 41, 97);
}

td {
    height: 50px;
}

.modifier {
    background-color: #3b82f6;
    border-radius: 20px;
    padding: 9px;
    font-size: 1.1em;
}

.voir {
    background-color: #e2e8f0;
    color : black;
    border-radius: 20px;
    padding: 9px;
    font-size: 1.1em;
}

.supprimer {
    background-color: #ef4444;
    border-radius: 20px;
    padding: 9px;
    font-size: 1.1em;
}

.creer {
    background-color: #22c55e;
    border-radius: 20px;
    padding: 9px;
    font-size: 1.1em;
}

button {
    margin-right: 20px;
}

td a {
    margin-right: 17px;;
}

.boutons {
    display: flex;
    justify-content: right;
}
